html{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background: navy;
}

body{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background: white;
    padding: 2rem 0;
    margin: 2rem 2rem;
}

h1 {
    text-align: center;
}

/* 
=====================================
game board
=====================================
*/

#game-board{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.letter-box{
    border: 2px solid gray;
    border-radius: 3px;
    margin: 2px;
    font-size: 2.5rem;
    font-weight: 700;
    height: 3rem;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}
.filled-box{
    border: 2px solid black;
}
.letter-row{
    display: flex;
}

/* 
=====================================
keyboard
=====================================
*/

#keyboard-cont{
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#keyboard-cont div{
    display: flex;
}
.second-row{
    margin: 0.5rem 0;
}
.keyboard-button {
    font-size: 1rem;
    font-weight: 700;
    padding: 0.5rem;
    margin: 0 2px;
    cursor: pointer;
    text-transform: uppercase;
}

/* 
=====================================
reset board/play again
=====================================
*/

.reset{
    margin: 2rem 0;
}

/* 
=====================================
media queries
=====================================
*/

@media screen and (max-width: 375px) {
   body{
    padding: 1rem;
    margin: 1rem;
   }
   #keyboard-cont{
    width: 100%;
   }
   .keyboard-button{
    font-size: 0.75rem;
    padding: 0.25rem;
   }

}